<div class="card">
        <div class="card-content">
    <form>
        <div class="section">
            <h5>Dados Pessoais</h5>

            <div class="row">
                <mz-input-container class="col s12 m6">
                    <input mz-input 
                        id="nome"
                        type="text"
                        [label]="'Nome'"
                        length="60"/>
                </mz-input-container>
                <mz-input-container class="col s12 m6">
                    <input mz-input 
                        id="sobrenome"
                        type="text"
                        [label]="'Sobrenome'"
                        length="60"/>
                </mz-input-container>

                
            </div>
        </div>
    </form>
    <div class="card-content"></div>
</div>