<div class="container">
    <div class="card">
        <div class="card-content"></div>
        <form>
            <h5 class="center-align">Cadastro de pessoas</h5>

            <mz-collapsible [mode]="'expandable'">
                <!-- Dados pessoais -->
                <mz-collapsible-item [active]="true">
                    <mz-collapsible-item-header>
                        <i class="material-icons">
                            people_alt
                        </i>
                        <span class="vertical-align-super">Dados pessoais</span>
                    </mz-collapsible-item-header>
                    <mz-collapsible-item-body>
                        <div class="row">
                            <mz-input-container class="col s12 m6">
                                <input mz-input id="nome" type="text" [label]="'Nome'" length="60" />
                            </mz-input-container>
                            <mz-input-container class="col s12 m6">
                                <input mz-input id="sobrenome" type="text" [label]="'Sobrenome'" length="60" />
                            </mz-input-container>
                        </div>
                        <div class="row">
                            <div class="col s6">
                                <mz-radio-button-container class="col s6 m4">
                                    <input mz-radio-button [label]="'Masculino'" [withGap]="true"
                                           id="masculino" name="genero" type="radio" value="Masculino">
                                </mz-radio-button-container>
                                <mz-radio-button-container class="col s6 m4">
                                    <input mz-radio-button [label]="'Feminino'" [withGap]="true"
                                           id="feminino" name="genero" type="radio" value="Feminino">
                                </mz-radio-button-container>
                            </div>
                        </div>
                    </mz-collapsible-item-body>
                </mz-collapsible-item>

                <!-- Endereço -->
                <mz-collapsible-item>
                    <mz-collapsible-item-header>
                        <i class="material-icons">account_balance</i>
                        <span class="vertical-align-super">Endereço</span>
                    </mz-collapsible-item-header>
                    <mz-collapsible-item-body>
                        <div class="row">
                            <div class="col s12 m6">
                                <mz-select-container>
                                    <select mz-select id="cidade" [label]="'Cidade'">                                        
                                        <option>Dois Vizinhos</option>
                                        <option>Francisco Beltrão</option>
                                        <option>Pato Branco</option>
                                    </select>
                                </mz-select-container>
                            </div>
                            <div class="col s12 m6">
                                <mz-select-container>
                                    <select mz-select id="bairro" [label]="'Bairro'">                                        
                                        <option>Centro</option>                                    
                                    </select>
                                </mz-select-container>
                            </div>
                        </div>
                    </mz-collapsible-item-body>
                </mz-collapsible-item>
            </mz-collapsible>

        </form>
    </div>
</div>